@import "./style.scss";


main{
    #products-detail{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding:0 20px;
        .product-compare{
            width: 100%;
            padding: 30px;
            background: #E6ECF2;
            border-radius: 27px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            .product-price{
                display: flex;
                align-items: center;
                span{
                    font-weight: 700;
                    font-size: 30px;
                    margin-right: 30px;
                }
                .card-btn {
                    background: #013F79;
                    border-radius: 8px;
                    width: 150px;
                    padding: 15px 0;
                    border: none;
                    cursor: pointer;
                    color: #fff;
                    @include flex-center();
                    &:hover {
                        background: #0957a0;
                    }
                    span {
                        font-weight: 700;
                        font-size: 16px;
                        margin-right: 10px;
                    }
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            a {
                padding: 10px 0;
                display: flex;
                align-items: center;
                span {
                    color: #000000;
                    font-size: 10px;
                    margin-left: 6px;
                }
            }
        }
        .product-detail-info{
            background: #FFFFFF;
            border: 1px solid #D5D5D5;
            border-radius: 27px;
            width: 100%;
            height: 800px;
            padding: 60px;
            position: relative;
            h1 {
                background-color: #fff;
                position: absolute;
                top: -23px;
                left: 60px;
                font-weight: 700;
                font-size: 16px;
                text-align: center;
                padding: 0 10px;
            }
            .product-parametr{
                display: flex;
                flex-direction: column;
                height: 300px;
                width: 700px;
                p{
                    margin: 0;
                    font-weight: 600;
                    font-size: 15px;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    &::before{
                        content: '';
                        display: block;
                        width: 12px;
                        height: 6px;
                        background: #013F79;
                        border-radius: 17px;
                        margin-right: 10px;

                    }
                }
            }
            .tecnical-parametr{
                width: 700px;
                height: auto;
                position: absolute;
                bottom: 0;
                .prmtr-buttons{
                    align-items:flex-end;
                    display: flex;
                    justify-content: flex-start;
                    .product-active , .product-prmtr{
                        background: #E6ECF2;
                        padding: 20px;
                        border: none;
                        outline: none;
                        font-weight: 600;
                        font-size: 12px;
                        cursor: pointer;
                    }
                    .product-deactive , .product-video{
                        background: #B4CEE8;
                        font-weight: 600;
                        font-size: 75%;
                        border: none;
                        outline: none;
                        padding: 15px 30px;
                        cursor: pointer;
                    }
                    
                }
                .parametr-content{
                    width: 100%;
                    padding: 30px;
                    background: #E6ECF2;
                    border-radius: 0px 20px 0px 0px;
                    display: flex;
                    .parametr-content-item{
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        .prmtr-text{
                            font-weight: 600;
                            margin-bottom: 20px;
                            display: flex;
                            flex-direction: column;
                            h6{
                                margin: 0;
                                font-size: 75%;
                                padding-bottom:5px ;
                            }
                            span{
                                font-size: 125%;
                            }
                        }
                    }
                }
                .deactive{
                    display: none;
                }
                .video-content{
                    display: none;
                    width: 100%;
                    height: 300px;
                    border: 1px solid red;
                }
                .active{
                    display: block;
                }

                
            }
            .product-images{
               display: flex;
               flex-direction: column;
               position: absolute; 
               top: 30px;
               right: 30px;
               .product-logo{
                width: 100%;
                display: flex;
                justify-content: flex-end;
               }
               .product-logo >img, .main-image >img , .detail-images >img {
                object-fit: cover;
               }
               .detail-images{
                width: 100%;
                display: flex;
                justify-content: space-between;
               }
            }

        }
    }
    #similar-products{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .similar-products-main{
            width: 100%;
            padding:20px 0 70px 0;
            height: auto;
            display: flex;
            justify-content: center;
            gap: 60px;
            display: grid;
            grid-template-columns: repeat(auto-fill, 250px);
            .products-card {
                padding: 17px;
                min-height: auto;
                height: 320px;
                background-color: #fff;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
                border-radius: 16px;
                display: flex;
                flex-direction: column;
                position: relative;
                h1 {
                    position: absolute;
                    top: 5px;
                    left: 17px;
                    font-weight: 700;
                    font-size: 16px;
                }
                .card-logo {
                    width: 54px;
                    height: 30px;
                    position: absolute;
                    top: 10px;
                    right: 17px;
                }
                .card-product {
                    padding: 25px 0;
                }
                .card-btn {
                    background: #013F79;
                    border-radius: 8px;
                    width: 100%;
                    padding: 15px 0;
                    border: none;
                    cursor: pointer;
                    color: #fff;
                    @include flex-center();
                    &:hover {
                        background: #0957a0;
                    }
                    span {
                        font-weight: 700;
                        font-size: 16px;
                        margin-right: 10px;
                    }
                }
                a {
                    position: absolute;
                    bottom: 13px;
                    left: 17px;
                    display: flex;
    
                    span {
                        color: #000000;
    
                        font-size: 10px;
                        margin-left: 6px;
                    }
                }
                h2 {
                    font-size: 62%;
                    opacity: 0.8;
                    position: absolute;
                    bottom: 5px;
                    right: 18px;
                }
            }
        }
    }  
}