@media screen and (min-width:320px) and (max-width:768px){
    .header-top{
        height: 17px;
        .header-top-content{
            display: none;
        }
        .camera-header{
            display: none;
        }
    }
}