.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9 {
  display: none !important;
}

.show_all .c1, .show_all .c2, .show_all .c3, .show_all .c4, .show_all .c5, .show_all .c6, .show_all .c7, .show_all .c8, .show_all .c9 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.show_c1 .c1 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.show_c2 .c2 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.show_c3 .c3 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.show_c4 .c4 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.show_c5 .c5 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.show_c6 .c6 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.show_c7 .c7 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.show_c8 .c8 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.show_c9 .c9 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}